
body
{
    background-color:#ffffff;
}

p, li
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: justify;
    word-wrap: normal;
    line-height: 1.5;
}


h1
{
    color:whitesmoke;
    font-family: Cursive, Arial, Helvetica, sans-serif;
    font-size: 60px;
}

h2
{
    color:rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px
}

h3
{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4
{
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

h5
{
    font-size: 10px;
    color: whitesmoke;
    font-weight: bold;
}

h6
{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: whitesmoke;
font-size: 40px;
text-shadow: 4px 4px 8px black;
}


#container
{
    height:auto;
    width: fit;
    background-color: rgb(255, 255, 255);
    margin: auto;
}


#container2
{
    height:auto;
    width: fit;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

#containerP2
{
    display: flex;
    flex-wrap: wrap;
    flex: 800px;
    justify-content: center;
    align-items: center;
}

   

    .P2a
    {
        background-image: url('BBC.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 400px;
        
    }

    .P2b
    {
        background-image: url('GordonRamsay.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 400px;
    }

    .P2c
    {
        background-image: url('JamieOliver.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 400px;
    }

    .P2d
    {
        background-image: url('uncleroger.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 400px;
    }

#containerP3
{
    word-wrap: normal;
    text-indent: 5%;
    padding: 1em;
    align-content: center;
}

#header
{
    height: auto;
    border: whitesmoke;
    border-width: 25px;
    background-color: #800020;
    border-style: double;
    text-align: center;
    padding: 10px;
}

#panel1
{
    width:  10%;
    float: left;
    background-color: #800020;
    text-align: left;
    font-size: 10px;
}

#panel2
{
    width:  10%;
    float: right;
    background-color: #800020;
    text-align: right;
    font-size: 10px;
}

#body
{
    width: 80%;
    float: left;
    background-color:white;
    padding: 1em;
}


#footer
{
    height: auto;
    text-align: center;
    height: auto;
    background-color:#800020;
    padding: 10px;
    color:whitesmoke;
    font-size: 12px;
}


.flexContainer
{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}




<style>
    
.flexbox
{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

    .footertext
    {
        color:whitesmoke;
        font-size: 12px;

    }

    .ol2
    {
        font-size: 28px;
        font-style: italic;
    }


    .li3
    {
        font-style: italic;
        font-size: 28px;
        line-height: 1.5;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    .back
    {
    float: left;
    }

    .next
    {
    float: right;
    }

    .imgCenter 
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

    .startCenter
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
