
body
{
    background-color:#ffffff;
}

p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: justify;
    word-wrap: normal;
    line-height: 1.5;
}

li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: justify;
    word-wrap: normal;
    line-height: 2;
}


h1
{
    color:whitesmoke;
    font-family: Cursive, Arial, Helvetica, sans-serif;
    font-size: 60px;
}

h2
{
    color:rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 46px
}

h3
{
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4
{
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

h5
{
    font-size: 10px;
    color: whitesmoke;
    font-weight: bold;
}

h6
{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: whitesmoke;
font-size: 40px;
text-shadow: 6px 6px 12px black;
}

#BBC
{
    background-image: url('BBC.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
}

.textCenter
{
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 80px 0;
}

#tutorials{
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

#Gordon
{
    background-image: url('GordonRamsay.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
}

#Jamie
{
    background-image: url('JamieOliver.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
}    

#Roger
{
    background-image: url('uncleroger.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
}

#header
{
    border: whitesmoke;
    border-width: 25px;
    background-color: #800020;
    border-style: double;
    text-align: center;
    padding: 10px;
}



#panel
{
    background-color: #800020;
    display: flex;
    text-align: right;
    font-size: 10px;
}

#body
{
    background-color:white;
    padding: 1em;
}


#footer
{
    height: auto;
    text-align: center;
    background-color:#800020;
    padding: 10px;
    color:whitesmoke;
    font-size: 12px;
}


.flexContainer
{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

*/

.panel
    {
    background-color: #800020;
    }

<style>

    .flexbox
    {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

        .footertext
        {
            color:whitesmoke;
            font-size: 12px;

        }

        .ol2
        {
            font-size: 28px;
            font-style: italic;
        }


        .li3
        {
            font-style: italic;
            font-size: 28px;
            line-height: 1.5;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }

        .text-left
        {
        float: left;
        }


        .text-center
        {
        align-items: center;
        }

        .text-right
        {
        float: right;
        }

        .imgCenter 
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .startCenter
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }

        .navBottom
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 15%;
        }

        .button {
            font-size: 24px;
            padding: 10px;
        }
